@font-face
{
    font-family: jellyka;

    src: url('../fonts/Jellyka.ttf');
}


p,
.site {
    font-size: 16px;
}



li
{
    list-style: none;
    font-size: 16px;
}


.full
{
    background-color: rgb(3,3,3);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}


.btn-social
{
    font-size: 17px;
    line-height: 42px;

    display: inline-block;

    width: 45px;
    height: 45px;
    margin-bottom: 20px;

    text-align: center;

    color: #3e2723;
    border: 2px solid rgb(45,121,135);
    border-radius: 100%;
}
.btn-outline
{
    font-size: 20px;

    margin-top: 15px;

    transition: all .3s ease-in-out;

    color: #fff;
    border: solid 2px rgb(50,100,114);
    background: 0 0;
}


.site
{
    text-align: center;
}


.name
{
    margin-top: 5%;
}

.name1
{
    font-family: jellyka;
    font-size: 300px;
}

.portImg
{
    width: 1000px;
    height: 1100px;
    position: absolute;
    margin-left: 5%;
    border-radius: 7%;
}

.modalText,
.site
{
    color: black;

}
span{
    color: rgb(45,121,135);
}

.aboutMargin
{
    margin-top: -15%;
    margin-left: -3%;
}


.projects

{
    margin-top: 110px;
}

.skillTitle{
    margin-top: 0;
}



.projectPic
{
    height: 160px;
    width: 300px;
}

#contact {
    margin-top: 100px;
}

@media(max-width:1195px)
{
    .portImg
    {
        display: none;
    }

    .aboutMargin
    {
        margin: 0;
    }


}

@media(max-width: 631px)
{
    .name1
    {
        font-size: 200px;
    }
}

@media(max-width: 434px)
{
    .name1
    {
        font-size: 150px;
    }
}
